body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

.product-table {
font-family: Arial, sans-serif;
border-collapse: collapse;
width: 100%;  
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.product-table td,
.product-table th {
border: 1px solid #ddd;
padding: 8px;
}

.product-table tr:nth-child(even) {
background-color: #f2f2f2;
}

.product-table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
}

.product-name a {
color: #333;
text-decoration: none;
}

.product-name a:hover {
text-decoration: underline;
}

.active {
  color: #f10808; /* Set the desired color for the active pagination link */

}

#wrapper {
width: auto;
margin: auto;
padding: 20px;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
text-align: center;
margin-top: 20px;
}

.input-row {
margin-bottom: 10px;
align-items: center;
}

.input-row label {
display: inline-block;
width: 150px;
text-align: center;
margin-right: 10px;
color: #127d3d;

}

.input-row input[type="text"],
.input-row select {
width: 200px;
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
}

.input-row button {
padding: 5px 10px;
}

label {
font-size: 16px;
font-weight: bold;
margin-right: 10px;
}

input[type="text"] {
padding: 8px;
border: 2px solid #ccc;
border-radius: 4px;
flex: 1 1 200px;
}

button[type="submit"] {
background-color: #4CAF50;
color: white;
border: none;
border-radius: 4px;
padding: 10px 20px;
margin-left: 10px;
cursor: pointer;
transition: all 0.3s ease-in-out;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

button[type="submit"]:hover {
background-color: #3e8e41;
}

body {
width: auto;
}

#myForm button:hover {
background-color: #ff9900;
color: white;
transition: all 0.3s ease;
}


#header {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #5c3dce;
  margin-top: 0px;
  
}

#header::before,
#header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgb(180, 10, 129);
}

#header::before {
  top: 0;
}

#header::after {
  bottom: 0;
}


@keyframes shakeAnimation {
  0% { transform: translateY(0); }
  10% { transform: translateY(-4px); }
  20% { transform: translateY(4px); }
  30% { transform: translateY(-3px); }
  40% { transform: translateY(3px); }
  50% { transform: translateY(-2px); }
  60% { transform: translateY(2px); }
  70% { transform: translateY(-1px); }
  80% { transform: translateY(1px); }
  90% { transform: translateY(-1px); }
  100% { transform: translateY(0); }
}


.animated-text {
  animation-name: shakeAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; /* Stop at the end state */
  display: inline-block; /* Ensure the span takes only necessary width */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}


.logo {
  float: left;
  margin-right: -30px;
  width: 40px; /* Adjust the width as desired */
  height: auto; /* Maintain aspect ratio */ 
}

p1 {
  text-align: center;
  color: #a81793;
  margin-top: 10;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
form {
  text-align: center;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #010f01;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


#sortSelect {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#loadingDiv {
  display: none;
  text-align: center;
  align-items: center;
}

#loadingDiv img {
  width: 50px;
  height: 50px;
}

#productsDiv {
  display: block;
}